# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplo

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

**Objectives:**
- Categories of Data Science Tools
- Model Development
- Introduction to SQL
- Libraries for Data Science
- Additional Sources of Datasets
-

## Author 
Tony